.offer-letter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .offer-letter-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .offer-letter-card:hover {
    transform: scale(1.05);
  }
  
  .domain {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .download-button {
    background-color:rgb(146, 120, 225);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .download-button:hover {
    background-color: #45a049;
  }
  